@using BitcoinPriceTracking.FE.Components
@using BitcoinPriceTracking.Modals.Models

@inherits BaseViewModal

<style>
    .button-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }
</style>

<BaseModal @bind-Visible=Visible Title=@Title>
    <BodyContent>
        <div>
            <h7>@QueryText</h7>
        </div>
        <div class="button-container">
            <MButton Text="Ano" OnClick="onResponseYesClick" />
            <MButton Text="Ne" OnClick="onResponseNoClick" />
        </div>
    </BodyContent>
</BaseModal>
@code {
    [Parameter, EditorRequired]
    public string QueryText { get; set; } = string.Empty;

    [Parameter]
    public ResultQueryModel ResultQueryModel { get; set; }
    [Parameter]
    public EventCallback<ResultQueryModel> ResultQueryModelChanged { get; set; }
    [Parameter]
    public EventCallback ResultQueryChanged { get; set; }

    public void onResponseYesClick()
    {
        ResultQueryModel.ResultQuery = true;

        Visible = false;

        ResultQueryChanged.InvokeAsync();
    }

    public void onResponseNoClick()
    {
        ResultQueryModel.ResultQuery = false;
        ResultQueryModel.Model = null;

        Visible = false;

        ResultQueryChanged.InvokeAsync();
    }
}
