@page "/crypto-data"
@using BitcoinPriceTracking.BE.Shared.Models.DTOs
@using BitcoinPriceTracking.Data
@using System.Reflection

 @inherits BasePage

<PageTitle>Weather forecast</PageTitle>

<h1>Crypto data- BTC</h1>

<p>Zobrazuje surová data z https://data-api.coindesk.com/spot/v1/latest/tick?market=coinbase&instruments=BTC-EUR</p>

@if (_cryptoDataDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered">
        <tbody>
            @if (_properties != null)
            {
                @foreach (var prop in _properties)
                {
                    <tr>
                        <th>@prop.Name</th>
                        <td>@(prop.GetValue(_cryptoDataDto) ?? "-")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private CryptoDataDto? _cryptoDataDto;
    private PropertyInfo[]? _properties = Array.Empty<PropertyInfo>();

    protected override async Task OnInitializedAsync()
    {
        if (_httpClient != null)
        {
            _cryptoDataDto = await _httpClient.GetFromJsonAsync<CryptoDataDto>("/api/v1/crypto-data/BTC-EUC");
            if (_cryptoDataDto != null)
                _properties = _cryptoDataDto.GetType().GetProperties(BindingFlags.Public | BindingFlags.Instance);

        }
    }
}
