@page "/data-from-database"
@using BitcoinPriceTracking.BE.Shared.Models.DTOs
@using BitcoinPriceTracking.FE.Components

 @inherits BasePage

@if (_cryptoDataNotesDTO == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MDynamicTable Items="_cryptoDataNotesDTO" ColumnOrder="_columnOrder" ColumnWidths="_columnWidths" />
}

@code {
    private IEnumerable<CryptoDataNoteDTO>? _cryptoDataNotesDTO;
    private List<string> _columnOrder = new List<string>
    {
        nameof(CryptoDataNoteDTO.Id),
        nameof(CryptoDataNoteDTO.TimeStamp),
        nameof(CryptoDataNoteDTO.Note),
        nameof(CryptoDataNoteDTO.CryptoData)
    };
    private Dictionary<string, string> _columnWidths = new Dictionary<string, string>
    {
        { nameof(CryptoDataNoteDTO.Id), "60px" },
        { nameof(CryptoDataNoteDTO.TimeStamp), "200px" },
        { nameof(CryptoDataNoteDTO.Note), "250px" }
    };

    protected override async Task OnInitializedAsync()
    {
        _cryptoDataNotesDTO = await loadData<IEnumerable<CryptoDataNoteDTO>>("api/v1/crypto-data-note");
    }
}
