@page "/"
@using BitcoinPriceTracking.FE.Components.Models
 @inherits BasePage

<PageTitle>Index</PageTitle>

<h1>Víjte v projektu BitcoinPriceTracking !</h1>

<p>Aplikace slouží k načítání dat z API</p>
<ul> <li> <strong>Coindesk (aktualizace v bufferu ~1 minuta):</strong><br /> <code>https://data-api.coindesk.com//cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/denni_kurz.xml</code> </li> <li> <strong>ČNB (aktualizace v bufferu ~1 den):</strong><br /> <code>https://www.cnb.cz//cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/denni_kurz.xml</code> </li> </ul> <p>Tyto zdroje se načítají a jejich data se ukládají do aplikace. Data z obou zdrojů jsou následně možné:</p>
<ul> <li>zobrazit v uživatelském rozhraní,</li> <li>uložit do databáze.</li> </ul> 