@typeparam T
@using System.Reflection

<table class="table table-striped table-bordered">
    <tbody>
        @if (_properties != null)
        {
            @foreach (var prop in _properties)
            {
                object? value = null;
                bool hasNested = value != null && !(value is string || value.GetType().IsPrimitive || value is decimal || value is DateTime);
                bool hasValue = false;

                try
                {
                    // Pokus získat hodnotu
                    value = prop.GetValue(Item);
                    hasValue = true;
                }
                catch (TargetParameterCountException)
                {
                    // ignoruj properties s parametry
                    hasValue = false;
                }
                catch
                {
                    // jiná chyba - můžeme taky jen ignorovat nebo logovat
                    hasValue = false;
                }

                <tr>
                    <th style="width:200px;">
                        @prop.Name
                    </th>
                    <td>
                        @if (!hasValue || value == null)
                        {
                            <span>-</span>
                        }
                        else if (!hasNested)
                        {
                            @value
                        }
                        else
                        {
                            <!-- rozevírací sekce -->
                            <div>
                                <button class="btn btn-sm btn-outline-primary"
                                        @onclick="@(() => toggle(prop.Name))">
                                    @(isExpanded(prop.Name) ? "▼ Sbalit" : "▶ Rozbalit")
                                </button>

                                @if (isExpanded(prop.Name))
                                {
                                    <div class="ms-3 mt-2">
                                        @if (value is System.Collections.IEnumerable enumerable && !(value is string))
                                        {
                                            @foreach (var item in enumerable)
                                            {
                                                <MTableForProperty Item="item" />
                                            }
                                        }
                                        else
                                        {
                                            <MTableForProperty Item="value" />
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@code {
    private PropertyInfo[]? _properties;
    private T? _item;
    [Parameter]
    public T? Item
    {
        get => _item;
        set
        {
            _item = value;
            _properties = _item?.GetType().GetProperties(BindingFlags.Public | BindingFlags.Instance);
        }
    }

    private HashSet<string> _expanded = new();

    private void toggle(string key)
    {
        if (!_expanded.Add(key))
            _expanded.Remove(key);
    }

    private bool isExpanded(string key) => _expanded.Contains(key);

}
