@inject NavigationManager NavigationManager

@using BitcoinPriceTracking.FE.Components

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BitcoinPriceTracking</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-from-api">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data from API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-from-database">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data from database
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="onOpenDocumentPage_Click" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Documents(Swagger)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void onOpenDocumentPage_Click() => NavigationManager.NavigateTo("/swagger/index.html", true);

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
